@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

$base-font-size: 19;
$min-font-size: 10;
$max-font-size: 60;

@for $i from $min-font-size through $max-font-size {
  $class-name: '.fd-#{$i}';

  #{$class-name} {
    font-size: calc($i / $base-font-size * 1rem);
  }
}

.fd-28 {
  font-size: calc(0.4464285714285714vw + 12.571428571428571px);

  @media (min-width: 768px) {
    font-size: calc(1.0135135135135136vw + 8.216216216216216px);
  }

  @media (min-width: 1360px) {
    font-size: calc(1.0714285714285714vw + 7.428571428571429px);
  }

  @media (min-width: 1920px) {
    font-size: 28px;
  }
}

.fd-36 {
  font-size: calc(-1.3392857142857142vw + 40.285714285714285px);

  @media (min-width: 768px) {
    font-size: calc(-1.0135135135135136vw + 37.78378378378378px);
  }

  @media (min-width: 1360px) {
    font-size: calc(-1.0714285714285714vw + 38.57142857142857px);
  }

  @media (min-width: 1920px) {
    font-size: 18px;
  }
}

.fd-56 {
  font-size: calc(1.3392857142857142vw + 33.714285714285715px);

  @media (min-width: 768px) {
    font-size: calc(1.0135135135135136vw + 36.21621621621622px);
  }

  @media (min-width: 1360px) {
    font-size: calc(1.0714285714285714vw + 35.42857142857143px);
  }

  @media (min-width: 1920px) {
    font-size: 56px;
  }
}

.fd-64 {
  font-size: calc(1.3392857142857142vw + 41.714285714285715px);

  @media (min-width: 768px) {
    font-size: calc(1.0135135135135136vw + 44.21621621621622px);
  }

  @media (min-width: 1360px) {
    font-size: calc(1.0714285714285714vw + 43.42857142857143px);
  }

  @media (min-width: 1920px) {
    font-size: 64px;
  }
}

* {
  font-family: "Poppins", sans-serif !important;
}

.mat-typography {

  h1 {
    @extend .fd-64;
  }

  h2 {
    @extend .fd-24;
  }

  h3 {
    @extend .fd-16;
  }

  h4 {
    @extend .fd-36;
  }

  h5 {
    @extend .fd-28;
  }

  h6 {
    @extend .fd-56;
  }

  p {
    @extend .fd-14;
  }

  a {
    @extend .fd-14;
  }

  button {
    @extend .fd-14;
  }

  span {
    @extend .fd-14;
  }

  label {
    @extend .fd-14;
  }

  .mat-button {
    @extend .fd-14;
  }
}

@for $i from $min-font-size through $max-font-size {
  $class-name: '.f-#{$i}';

  #{$class-name} {
    font-size: calc($i / $base-font-size * 1rem) !important;
  }
}
