:root {
  font-size: calc(16px + 0.3125vw);
  --ts: all 0.3s ease-in-out;
  --br: 0.5rem;

  --text-color: #151515;
  --main-color: #854dff;
  --primary-bg: #f0f0f0;
  --secondary-bg: #ffffff;

  --grey-light: #dbdbdb;
  --grey-mokey: #716f6f;
  --red-light: #ff5757;
}
