<main>
  <section>
    <form  (ngSubmit)="ageSubmitHandler()" [formGroup]="age_form">
      <div class="card-input">
        <label for="day" class="f-10">Day</label>
        <input matInput type="text" id="day" formControlName="day" placeholder="DD" maxlength="2" mask="00" >
      </div>

      <div class="card-input">
        <label for="month" class="f-10">Month</label>
        <input matInput type="text" id="month" formControlName="month" placeholder="MM" maxlength="2" mask="00">
      </div>

      <div class="card-input">
        <label for="year" class="f-10">Year</label>
        <input matInput type="text" id="year" formControlName="year" placeholder="YYYY" maxlength="4" mask="0000">
      </div>

      <div class="card-button">
        <div class="line"></div>
        <button title="send" type="submit">
          <img src="../assets/images/icon-arrow.svg" alt="">
        </button>
      </div>
    </form>

    <h1 class="f-52">
      <span>{{ date.year || '--' }}</span> years
    </h1>
    <h1 class="f-52">
      <span>{{ date.month || '--' }}</span> months
    </h1>
    <h1 class="f-52">
      <span>{{ date.day || '--' }}</span> days
    </h1>
  </section>

  <footer>
    <h5> Challenge by <a rel="noopener" href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. </h5>
    <h5> Coded by <a href="https://iamgui.dev/">IamGui</a>. </h5>
  </footer>
</main>
